body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.activityModel {
  margin: 1px;
  width: 19px;
  height: 19px;
  background: #fdcdcd;
  position: absolute;
  z-index: 999;
}
#container {
  position: relative;
}
.stationaryModel {
  margin: 1px;
  width: 19px;
  height: 19px;
  background: cadetblue;
  position: absolute;
  z-index: 999;
}
.desc {
  display: inline-block;
  margin-left: 12%;
  margin-top: 10%;
}
#remove p {
  position: absolute;
  right: 25%;
  top: 93%;
}
#remove p span {
  color: #b9124b;
}
