body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
.activityModel {
  margin: 1px;
  width: 19px;
  height: 19px;
  background: #fdcdcd;
  position: absolute;
  z-index: 999;
}
#container {
  position: relative;
  margin: auto;
  width: 200px;
  height: 400px;
  background-color: #e3eff9;
}
.stationaryModel {
  margin: 1px;
  width: 19px;
  height: 19px;
  background: cadetblue;
  position: absolute;
  z-index: 999;
}
.desc {
  position: absolute;
  top: 200px;
  left: 200px;
}
#remove p {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#remove p span {
  color: #b9124b;
}
